$sidebar-bg: #4680ff;
$sidebar-menu-item-color: #505d69;
$sidebar-menu-sub-item-color: #7c8a96;
$sidebar-menu-item-icon-color: #505d69;
$sidebar-menu-item-hover-color: #383c40;
$sidebar-menu-item-active-color: #4680ff;
$sidebar-width: 240px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 160px;

$header-height: 73px;
$brand-box-height: 75px;
$header-bg: #ffffff;
$header-item-color: #636e75;

$topbar-search-bg: #f1f5f7;

$footer-height: 60px;
$footer-bg: #fff;
$footer-color: #74788d;

$display-none: none;
$display-block: block;

$navbar-brand-box-width: 240px;

$font-weight-medium: 500;
$font-weight-semibold: 600;

$apex-grid-color: #f8f9fa;

$font-family: 'Inter', sans-serif;

$card-title-desc: #74788d;