.dropdown-menu {
  box-shadow: $box-shadow-lg;
  animation-name: DropDownSlide;
  animation-duration: .3s;
  animation-fill-mode: both;
  margin: 0;
  position: absolute;
  z-index: 1000;

  &.show {
    top: 100% !important;
  }
}

.dropdown-item:active {
  background-color: #ffffff;
}

.dropdown-menu.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
  top: 72px !important;
}

@keyframes DropDownSlide {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
}

.dropdown-menu-lg {
  width: 320px;
  margin-top: 5px;
}

@include media-breakpoint-down(sm) {
  .dropdown-menu-lg {
    width: 280px;
  }
}

.dropdown-divider {
  border-top-color: $border-color;
}
